
/* =============================================================================
   CSS CATEGORY MENU
   ========================================================================== */


ul#categories_menu{

    float: left;
    list-style: none;
    cursor: pointer;
}


/* =============================================================================
   CSS CATEGORYCONTAINER
   ========================================================================== */

#categoryContainer{

    width: 600px;
}

ul#categoryContainer{
    display: inline-block;
    list-style: none;
}

ul#categoryContainer li{
    height: 95px;
    display: inline-block;
    margin: 12px;
    cursor: pointer;
}


ul#categoryContainer li{
    height: 110px;
    display: inline-block;
    margin: 20px;
}

ul#categoryContainer img{
    padding:5px; border: 1px solid #aaaaaa; width:110px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#f9f9f9; margin-bottom:0px;
}

ul#categoryContainer img{
    -webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;
}

ul#categoryContainer li p{

    text-align: center;
}

/*
.product_item  {width:110px; position:relative; margin:0 14px 14px 14px; padding:0;}
.product_item img                 {padding:5px; border: 1px solid #aaaaaa; width:211px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#f9f9f9; margin-bottom:0px;}
.product_item span                {display:none;}
.product_item img           {-webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;}
.product_item span          {display:inline; position:absolute; bottom:6px; right:6px; padding:10px 15px; background:#f9f9f9; color:#000000; z-index:999; border-left:1px solid #aaaaaa; border-top:1px solid #aaaaaa; -webkit-border-top-left-radius: 5px; -moz-border-radius-topLeft: 5px;}
*/


/* =============================================================================
   CSS ITEMCONTAINER
   ========================================================================== */

div#product_container{
    width:  580px;
    float: left;
}

ul#itemContainer{
    display: inline-block;
    list-style: none;
}

ul#itemContainer li{
    height: 95px;
    display: inline-block;
    margin: 8px;
}


ul#itemContainer li{
    height: 110px;
    display: inline-block;
    margin: 20px;
}

ul#itemContainer img{
    padding:5px; border: 1px solid #aaaaaa; width:110px; -webkit-border-radius: 5px; -moz-border-radius: 5px; background:#f9f9f9; margin-bottom:0px;
}

ul#itemContainer img{
    -webkit-box-shadow:0px 0px 20px #787878; -moz-box-shadow:0px 0px 20px #787878; background:#f9f9f9;
}

ul#itemContainer li p{

    text-align: center;
}

/* =============================================================================
   CSS HOLDER
   ========================================================================== */



 .holder {
    margin:15px 0;
}
.holder a {
    font-size:12px;
    cursor:pointer;
    margin:0 5px;
    color:#333;
}
.holder a:hover {
    background-color:#222;
    color:#fff;
}
.holder a.jp-previous {
    margin-right:15px;
}
.holder a.jp-next {
    margin-left:15px;
}
.holder a.jp-current,a.jp-current:hover {
    color:#FF4242;
    font-weight:bold;
}
.holder a.jp-disabled,a.jp-disabled:hover {
    color:#bbb;
}
.holder a.jp-current,a.jp-current:hover,.holder a.jp-disabled,a.jp-disabled:hover {
    cursor:default;
    background:none;
}
.holder span {
    margin: 0 5px;
}